@media screen and (max-width: 768px) {
  header .logo a img {
    width: 150px;
  }
  header #nav-icon {
    width: 20px;
    height: 20px;
  }
  header .nav {
    font-size: 12px;
  }
  header .nav ul {
    display: flex;
    flex-direction: column;
  }
  header .nav ul li {
    padding: 10px;
  }
  #sec0 video,
  .mainlogo {
    display: none;
  }
  #sec0 .MediaQuery-img {
    height: 100vh;
    background: url(../images/mediaqu.png) no-repeat 50% / cover;
  }

  /* 슬라이드 */
  #sec1 .inner .title {
    font-size: 2em;
    position: absolute;
    top: 100px;
    left: 0px;
  }
  #sec1 .inner .slider_wrap {
    display: none;
  }

  #sec1 .work-mediaquery {
    height: 100vh;
    display: block;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard';
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}

.inner {
  max-width: 1940px;
  min-width: 1200px;
  margin: auto;
  height: 100%;
  display: flex;
}

header {
  z-index: 9999;
  position: fixed;
}

h1.title {
  font-size: 3em;
  color: #121212;
  font-family: 'AmericanaStd', 'Abril Fatface', cursive;
  opacity: 0;
  position: absolute;
  top: 150px;
  left: 100px;
  transform: translateX(-100%);
  transition: all 0.6s ease-in;
  transition-delay: 0.6s;
}

#sec1 h1.title {
  transform: translateY(-100%) translateX(0);
}

#sec1.section.active h1.title {
  transform: translateY(0) translateX(0);
}

.section.active h1.title {
  opacity: 1;
  transform: translateX(0);
}

#sec0 {
  z-index: 1;
}
#sec0 .MediaQuery {
  display: none;
}

#sec0 video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
#sec0 .mainlogo .pf-main {
  position: absolute;
  width: 656px;
  height: 503px;
  /* left: 607px;
  top: 250px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#sec0 .mainlogo .pf-top {
  position: absolute;
  width: 470px;
  height: 56px;
  left: 3%;
  top: 5%;
}
#sec0 .mainlogo .pf-email {
  position: absolute;
  width: 488px;
  height: 56px;
  left: 65%;
  top: 85%;
}
#sec0 .mainlogo .pf-blackstarbig {
  position: absolute;
  width: 323px;
  height: 406px;
  left: 77%;
  top: 13%;
}
#sec0 .mainlogo .pf-blackstarsmall {
  position: absolute;
  width: 116px;
  height: 146px;
  left: 78%;
  top: 45%;
}

#sec0 .mainlogo .pf-bigstar {
  position: absolute;
  width: 470px;
  height: 470px;
  left: -10%;
  top: 35%;
}
#sec0 .mainlogo .pf-smallstar {
  position: absolute;
  width: 126px;
  height: 157px;
  left: 22%;
  top: 30%;
}
#sec0 .mainlogo .pf-blackbottom {
  position: absolute;
  width: 157px;
  height: 197px;
  left: 25%;
  top: 75%;
}
#sec0 .mainlogo .pf-bigstarmiddle {
  position: absolute;
  width: 210px;
  height: 213px;
  left: 60%;
  top: 10%;
  animation: ani2 0.4s ease-in-out infinite alternate;
  transition: 0.4s;
}
#sec0 .mainlogo .pf-bigstarbottom {
  position: absolute;
  width: 210px;
  height: 213px;
  left: 95%;
  top: 637px;
  transition: 1s;
  -webkit-animation: ani1 0.8s ease-in-out infinite alternate;
  -moz-animation: ani1 0.8s ease-in-out infinite alternate;
  animation: ani1 0.8s ease-in-out infinite alternate;
}

#sec1 .inner {
  justify-content: space-around;
}

#sec1 .work-mediaquery {
  display: none;
}

/* Work 슬라이더 */
.slider_wrap {
  width: 75%;
  height: 60%;
  margin: 250px auto;
  /* overflow: hidden; */
  position: relative;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: translateX(50px);
  transition-delay: 0.3s;

  position: relative;
}

#sec1 h1.title {
  opacity: 0;
  transform: translateX(-50px);
}
.slider_wrap .slide {
  height: 60%;
}
.slide_inner {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.slider_wrap .fp-tableCell {
  display: block;
}

/* 프로젝트01 */
.slide .slide_inner .pj {
  width: 55%;
}

.slide .slide_inner .pj img {
  background-color: #fff;
  border-radius: 20px;
  padding: 6px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.slide .slide_inner .work {
  padding-left: 90px;
}

#sec1 .slide .num {
  position: absolute;
  width: 349px;
  height: 358px;
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 800;
  font-size: 250px;
  line-height: 358px;
  /* identical to box height */
  background: linear-gradient(180deg, rgba(240, 64, 255, 0.38) 0%, rgba(255, 181, 181, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  z-index: -1;
}

#sec1 .sl_01 .num {
  left: 14%;
  top: -7%;
}

.slide .slide_inner .project h1 {
  font-family: 'AmericanaStd', 'Abril Fatface', cursive;
  font-size: 2em;
  color: #121212;
  z-index: 9999;
  margin-top: 20px;
}

.slide .slide_inner .project h3 {
  font-size: 25px;
  color: #121212;
  font-family: 'Pretendard', '맑음고딕', sans-serif;
  padding-bottom: 10px;
}

.slide .slide_inner .work .project p {
  font-size: 16px;
  color: #121212;
}

.slide .slide_inner .work .project .skills {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
}

.slide .slide_inner .work .project .skills div {
  border: 2px solid #121212;
  color: #121212;
  font-size: 14px;
  padding: 5px 10px;
  margin-right: 10px;
  font-weight: bold;
}

.slide .slide_inner .work .project .view {
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: rgb(129, 129, 129);
  font-size: 18px;
  width: 80px;
  padding: 7px;
  text-align: center;
  margin-top: 20px;
  transition: 0.4;
}

.slide .slide_inner .work .project .view a {
  color: #fff;
  font-family: 'Pretendard Variable', '맑음고딕', sans-serif;
  display: block;
  width: 100%;
  transition: 0.4;
}

.slide .slide_inner .work .project .view a:hover {
  color: #121212;
  font-weight: bold;
}

/* 프로젝트2 */
#sec1 .sl_02 {
  position: relative;
}
#sec1 .sl_02 .num {
  right: 4%;
  top: -5%;
}

/* 프로젝트 3 */
#sec1 .sl_03 {
  position: relative;
}
#sec1 .sl_03 .num {
  right: 7%;
  top: -5%;
}

/* 프로젝트 4 */
#sec1 .sl_04 {
  position: relative;
}
#sec1 .sl_04 .num {
  right: 5.5%;
  top: -5%;
}

/* 프로젝트 5 */
#sec1 .sl_05 {
  position: relative;
}

#sec1 .sl_05 .num {
  right: 5.5%;
  top: -5%;
}

/* 슬라이드 넥스트, 프리브 */
.fp-controlArrow.fp-next {
  border-color: transparent transparent transparent rgb(41, 41, 41);
  right: -45px;
  border-width: 19.5px 0 19.5px 18px;
}

.fp-controlArrow.fp-prev {
  left: -45px;
  border-width: 19.5px 18px 19.5px 0;
  border-color: transparent rgb(41, 41, 41) transparent transparent;
}

/* about 시작 */
#sec2 .inner .gradient-circle1 {
  /* Ellipse 3 */
  position: absolute;
  width: 1069px;
  height: 1077px;
  left: -504px;
  top: -461px;
  background: linear-gradient(180deg, rgba(112, 203, 255, 0.43) 27.6%, rgba(238, 48, 255, 0.33) 52.6%, rgba(245, 170, 238, 0.49) 84.37%);
  filter: blur(150px);
  z-index: -1;
}

#sec2 .top-bg-right .video_wrapper {
  width: 40%;
  height: 40%;
  overflow: hidden;
}

#sec2 .top-bg-right .video_wrapper video {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.4s;
}
#sec2 .top-bg-right .video_wrapper video:hover {
  transform: translate(-30px, 10px);
}

#sec2 .inner .top-bg-left {
  border: 1px solid rgb(28, 28, 28);
  width: 550px;
  height: 550px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: 0.2s ease;
  position: absolute;
  top: 150px;
  right: 270px;
}
#sec2 .inner .txt-box {
  padding-left: 100px;
  font-family: 'AmericanaStd', 'Abril Fatface', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sec2 .inner .txt-box h1 {
  font-family: 'AmericanaStd', 'Marcellus', serif;
  font-size: 4em;
  padding: 100px 0 30px 0;
}

#sec2 .inner .txt-box p {
  font-family: 'pretendard';
  line-height: 1.8;
}

#sec2 .inner .txt-box2 {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  line-height: 1.5;
}
#sec2 .inner .txt-box2 .career {
  padding-left: 50px;
}

#sec2 .inner .txt-box2 ul li {
  font-family: 'pretendard', '맑은 고딕', sans-serif;
  padding-top: 1.5%;
  list-style: circle;
}

#sec3 h1 img {
  vertical-align: bottom;
}

/* skill 시작 */

#sec3 .inner #main_intro .gradient-circle2 {
  position: absolute;
  width: 1069px;
  height: 1077px;
  left: 1325px;
  top: 310px;

  background: linear-gradient(180deg, rgba(112, 203, 255, 0.43) 27.6%, rgba(238, 48, 255, 0.33) 52.6%, rgba(245, 170, 238, 0.49) 84.37%);
  filter: blur(150px);

  z-index: -1;
}
#sec3 .inner .main_intro_inner ul {
  padding-left: 40px;
}
#sec3 .skill-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#sec3 .skill-box .skill-box1 {
  margin: 10%;
}

#sec3 #main_intro {
  width: 70vw;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 18.5vw;
}
#sec3 #main_intro .main_intro_inner {
  padding: 1.083vw;
}

#sec3 #main_intro .main_intro_inner h1 {
  font-size: 2rem;
  font-family: 'AmericanaStd';
  margin: 1.563vw 0;
}

#sec3 #main_intro .main_intro_inner ul li {
  list-style: circle;
  font-size: 1.05em;
  font-family: 'pretendard', '맑은 고딕', sans-serif;
  padding: 1.2% 5%;
}

#sec3 #main_intro .main_intro_inner {
  width: 90%;
  margin: 0 auto;
}

/* skill2 섹션 */

#sec4 .can-box h1 {
  font-family: 'AmericanaStd', 'Pretendard', sans-serif;
  text-align: center;
  padding: 30px;
}
#sec4 .can-box ul li {
  padding: 10px 0;
  font-size: 1em;
  font-family: 'Pretendard', 'welcom', '맑은 고딕', sans-serif;
  list-style-position: outside;
  list-style: circle;
}
#sec4 .can-box ul {
  padding-left: 20px;
}

#sec4 .inner .can-box {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  width: 80vw;
}
#sec4 .inner .can-box .box {
  border: 1px solid #121212;
  font-size: 17px;
  box-sizing: border-box;
  width: 300px;
  height: 427px;
  margin-left: 1.2vw;
}

#sec4 .inner .can-box ul {
  width: 85%;
  margin: auto;
}

#sec4 .inner .can-box .box1 {
  background: url(../images/skill1.jpeg) 50% / cover;
  align-self: flex-end;
}
#sec4 .inner .can-box .box2 {
  background: url(../images/skill2.jpeg) 50% / cover;
}

#sec4 .inner .can-box .box3 {
  background: url(../images/skill3.jpeg) 50% / cover;
  align-self: flex-end;
}

#sec4 .inner .can-box .box4 {
  background: url(../images/skill4.jpeg) 50% / cover;
}

#sec4 .box1 {
  opacity: 0;
  transform: translateX(-100%);
  transition: 1s ease-in-out;
  transition-delay: 1s;
}
#sec4.active .box1 {
  opacity: 1;
  transform: translateX(0);
}
#sec4 .box2 {
  opacity: 0;
  transform: translateX(-100%);
  transition: 1.3s ease-in-out;
  transition-delay: 0.8s;
}
#sec4.active .box2 {
  opacity: 1;
  transform: translateX(0);
}
#sec4 .box3 {
  opacity: 0;
  transform: translateX(-100%);
  transition: 1.6s ease-in-out;
  transition-delay: 0.5s;
}
#sec4.active .box3 {
  opacity: 1;
  transform: translateX(0);
}
#sec4 .box4 {
  opacity: 0;
  transform: translateX(-100%);
  transition: 1.8s ease-in-out;
  transition-delay: 0.3s;
}
#sec4.active .box4 {
  opacity: 1;
  transform: translateX(0);
}

/* 컨텍트 섹션 */

#sec5 h1 {
  font-family: 'AmericanaStd', 'Pretendard', '맑은 고딕', sans-serif;
  font-size: 5em;
  text-align: center;
}

#sec5 .card-wrapper {
  width: 696px;
  height: 358px;
  perspective: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec5 .card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: center right;
  cursor: pointer;
  position: relative;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  /* line-height: 260px; */
  text-align: center;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-face-back {
  transform: rotateY(180deg);
}

.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

#sec5 footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #cccbcbe5;
  position: absolute;
  bottom: 0;
}
#sec5 .ff {
  font-family: 'AmericanaStd', 'Pretendard', '맑은 고딕', sans-serif;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#sec5 .ff .blog a {
  padding-left: 20px;
}

/* 네비게이션 */
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: #121212;
}

#nav-icon {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 25px;
  cursor: pointer;

  z-index: 3;
}

#nav-icon div {
  position: relative;
  width: 100%;
  height: 100%;
}

#nav-icon div span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #121212;

  transition: all 0.3s ease-in-out;
}

#nav-icon div span:nth-child(1) {
  top: 0px;
}

#nav-icon div span:nth-child(2) {
  top: 10px;
}

#nav-icon div span:nth-child(3) {
  top: 20px;
}

body.nav_active #nav-icon div span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}

body.nav_active #nav-icon div span:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}
body.nav_active #nav-icon div span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

nav {
  position: fixed;
  z-index: 2;
  top: 30px;
  right: 60px;
  opacity: 0;

  transition: all 0.3s ease-in-out;

  transform: translateX(50px);
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #121212;
}

body.nav_active nav {
  opacity: 1;
  transform: translateX(0);
}
