* {
  font-family: "Pretendard", "welcom", "맑은 고딕", sans-serif;
}
.en {
  font-family: "AmericanaStd", "Pretendard", sans-serif;
}
body header {
  /* Rectangle 33 */
  position: absolute;
  width: 100%;
  height: 60%;
  left: 0px;
  top: 0px;
  background: linear-gradient(
    180deg,
    #e9a6fa 0%,
    rgba(255, 173, 246, 0.982848) 29.77%,
    rgba(164, 225, 251, 0.62) 78.24%,
    rgba(217, 217, 217, 0) 100%
  );
  z-index: -1;
}

body header .back {
  position: fixed;
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 1.2em;
}
.mbti {
  display: flex;
  justify-content: center;
  font-size: 3em;
}
body header h1 {
  font-size: 4em;
  display: flex;
  justify-content: center;
  margin-top: 170px;
  margin-bottom: 100px;
  z-index: 300;
}

body .main-container {
  width: 70%;
  margin: auto;
}

body .main-photo {
  display: flex;
  justify-content: center;
  z-index: 9999;
  margin-top: 350px;
}

body .main-info {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 200px auto;
}
body .info1 ul li {
  position: relative;
}

body .info1 ul li:nth-child(2):before {
  position: absolute;
  top: 9px;
  left: -10px;
  content: "";
  display: block;
  width: 5px;
  height: 27px;
  background-color: #e9a6fa;
}
body .info1 ul li:nth-child(3):before {
  position: absolute;
  top: 9px;
  left: -10px;
  content: "";
  display: block;
  width: 5px;
  height: 27px;
  background-color: #e9a6fa;
}
body .info1 ul li:nth-child(4):before {
  position: absolute;
  top: 9px;
  left: -10px;
  content: "";
  display: block;
  width: 5px;
  height: 27px;
  background-color: #e9a6fa;
}
body .main-info .title-left {
  font-size: 5em;
  /* margin: 50px auto; */
  position: relative;
}
/* body .main-info .title-right {
  padding-left: 300px;
} */
body .main-info .title-left .one {
  /* Ellipse 5 */
  position: absolute;
  left: -25px;
  width: 74px;
  height: 74px;
  border-radius: 74px;
  z-index: -9;
  background: linear-gradient(
    180deg,
    rgba(131, 0, 211, 0.64) 0%,
    rgba(242, 90, 245, 0.56) 25.5%,
    rgba(75, 188, 224, 0.52) 59.9%,
    rgba(147, 197, 242, 0.51) 79.17%,
    rgba(217, 217, 217, 0.3) 100%
  );
}
body .main-info .title-left {
  width: 50%;
}

body .main-info .title-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}
body .main-info .title-right li {
  padding-top: 10px;
  font-size: 1.1em;
  line-height: 1.5;
}

body .info3 h1 {
  font-size: 0.8em;
}

body .main-info .title-right .overview {
  width: 140px;
  padding: 13px;
  text-align: center;
  border: 2px solid #000;
  margin-bottom: 30px;
}

/* 토글 버튼 */
.collapsible {
  /* background: #94a8fd; */
  /* color: white; */
  cursor: pointer;
  padding: 18px;
  width: 30vw;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
.collapsible span {
  padding-left: 30px;
  color: rgb(243, 122, 122);
}

.content {
  padding: 0 25px;
  display: none;
  overflow: hidden;
  height: 220px;
  /* background-color: #f1f1f1; */
}

/* info4 */
.info4 h1 {
  width: 100%;
  font-size: 0.9em;
}
.info4 h1 img {
  vertical-align: bottom;
}
.info4 ul {
  margin-bottom: 30px;
}
.info4 ul li {
  padding: 5px;
}

/* info5 using skill */
.info5 .title-right ul {
  margin-bottom: 25px;
}
.info5 .title-right ul li {
  padding: 10px;
}

/* info6 page section */
.info6 h1 {
  font-size: 0.9em;
}
.info6 .title-right h2 {
  font-size: 30px;
}
.info6 .title-right ul {
  padding: 20px 0;
}
.info6 .title-right ul li {
  padding-bottom: 15px;
}
.info6 .title-right span {
  display: inline-block;
  font-family: "AmericanaStd", "Pretendard", sans-serif;
}

.info6 .title-right .en:hover span::after {
  animation: drawline 1s ease;
}

.info6 .title-right .en span::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  margin: -10px 0 0 0;
  background: #ecbef8;
}

@keyframes drawline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.info7 .title-right h1 {
  font-size: 25px;
  margin-top: 40px;
  font-weight: bold;
}
.info7 .title-right h1 span {
  color: #b465f5;
}
.info7 .title-right p {
  font-size: 18px;
  margin-top: 10px;
  line-height: 2;
}

/* info8 review*/
.info8 .title-right p {
  font-size: 20px;
  padding-bottom: 15px;
  line-height: 1.8;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height: 200px;
  line-height: 200px;
  font-size: 1.5em;
  font-weight: bold;
}

footer a {
  font-family: "Pretendard", "welcom", "맑은 고딕", sans-serif;
}
